<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 py-5">
        <b>Information</b><br />
        <br />
        Terms & Conditions <br />
        Delivery Information <br />
        About Us <br />
        Privacy Policy <br />
      </div>
      <div class="col-md-3 py-5">
        <b>Customer Service</b> <br />
        <br />
        Contact Us <br />
        Returns <br />
        Site Map <br />
      </div>
      <div class="col-md-3 py-5">
        <b>Extras</b> <br />
        <br />
        Brands <br />
        Gift Certificates <br />
        Affiliate <br />
        Specials <br />
      </div>
      <div class="col-md-3 py-5">
        <b>My Account</b> <br />
        <br />
        My Account <br />
        Order History <br />
        Wish List <br />
        Newsletter<br />
      </div>
      <hr />
      <div class="col-md-3 py-5">
        Powered By Wilaton Industries <br />
        Your Store © 2022
      </div>
      <div class="col-md-6 py-5">
        Copyrights Reserved @ Wilaton Ind Pvt. Ltd.
      </div>
    </div>
  </div>
</div>

